html, body{
    height: 100%;
    margin: 0;
    width: 100%;
    
}

@media screen and (max-width: 750px) {
    html, body {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    /* justify-content: center; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* overflow: hidden; */
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

.navItem {
    padding-right: 17.5px;
    padding-left: 17.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

/* .contact {
    padding-right: 35px;
} */

.navItem:hover {
    cursor: pointer;
    background-color: #000000;
}

.navlink {
    color: hsl(0, 1%, 44%);
    text-decoration: none;
    letter-spacing: 2px;
}

.masthead {
    background: url(../img/joy\ 3.png\ \(1\).jpg);
    min-height: 30rem;
    width: 100%;
    /* height: 50px; */
    padding-top: 8rem;
    background-size: cover;
}

@media screen and (max-width: 750px) {
    .masthead {
        background: url(../img/Picture\ .JPG);
        min-height: 20rem;
        /* width: 65px;
        height: 40px;
        font-size: 18px; */
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.mastheadtext {
    font-family: 'Sedgwick Ave', cursive;
    color: #1f3a39;
    font-weight: 800;
    font-size: 120px;
    padding-left: 120px;
    margin-top: 0px;
    line-height: 1.3;
}

@media screen and (max-width: 750px) {
    .mastheadtext {
        display: none;
        /* padding-left: 0px; */
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ECCDB4;
}

.welcometext{
    /* color: hsl(0, 0%, 8%); */
    font-family: 'Sedgwick Ave', cursive;
    color: hsl(0, 1%, 21%);
    font-weight: 800;
    font-size: 85px;
    padding-top: 20px;
    transform: rotate(-09deg);
    margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
    .welcometext {
        text-align: center;
    }
}

.welcomesubtext {
    font-family: 'Poppins', sans-serif;
    width: 60%;
    color: hsl(0, 1%, 44%);
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    /* padding-bottom: 25px; */
    margin-bottom: 0px;
    /* line-height: 0.4; */
}

@media screen and (max-width: 750px) {
    .welcomesubtext {
        width: 90%;
        font-size: 20px;
    }
}

.welcomesubsubtext {
    font-family: 'Poppins', sans-serif;
    width: 60%;
    color: hsl(0, 1%, 44%);
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
}

@media screen and (max-width: 750px) {
    .welcomesubsubtext {
        width: 90%;
        font-size: 15px;
    }
}

.socialicons {
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
}

.welcomeicons {
    font-size: 50px;
    padding-right: 35px;
    /* padding-bottom: 45px; */
    color: hsl(0, 1%, 21%);
    /* padding-bottom: 45px; */
}

.latestvideo {
    background: url(../img/Flowers_coner_blue.png);
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding-top: 8rem;
    background-size: cover;
    align-items: center;
    /* justify-content: center; */
    padding-top: 40px;
    margin-bottom: 400px;
    /* padding-left: 40px; */
}

@media screen and (max-width: 750px) {
    .latestvideo {
        background: #ffffff;
        /* background-repeat: no-repeat; */
        margin-bottom: 50px;
    }
}

.newestVideo {
    font-family: 'Sedgwick Ave', cursive;
    color: hsl(0, 1%, 21%);
    font-weight: 500;
    font-size: 45px;
    /* padding-top: 20px; */
    transform: rotate(-05deg);
    margin-bottom: 15px;
    /* margin-top: 25px; */
    text-align: center;
    padding-left: 270px;
}

@media screen and (max-width: 750px) {
    .newestVideo {
        text-align: center;
        padding-left: 0px;
    }
}

.watchmore {
    background-color: #FEA1A1;
    width: 350px;
    height: 50px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 4px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.watchmore:active {
    background-color: #eb7676;
}

.watchmorelink {
    color:#000000;
    text-decoration: none;
}

.youtubevideo {
    aspect-ratio: 16 / 9;
    width: 840px;
    padding-bottom: 150px;
    padding-left: 40px;
}

@media screen and (max-width: 750px) {
    .youtubevideo {
        width: 350px;
        padding-left: 0px;
    }
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ECCDB4;
    /* background-color: red; */
}

.shoptext {
    font-family: 'Sedgwick Ave', cursive;
    color: hsl(0, 1%, 21%);
    font-weight: 800;
    font-size: 65px;
    padding-top: 20px;
    transform: rotate(-05deg);
    margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
    .shoptext {
        text-align: center;
        font-size: 55px;
        width: 90%;
    }
}

.shopsubtext {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    color: hsl(0, 1%, 44%);
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
}

@media screen and (max-width: 750px) {
    .shopsubtext {
        width: 80%;
        font-size: 15px;
    }
}

.shopnow {
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 4px;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
}

.shopnowbutton {
    color: black;
    text-decoration: none;
}

.newsletter {
    display: flex;
    flex-direction: row;
    background-color: #F9FBE7;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: auto;
    /* background-color: #BBDED6; */
}

@media screen and (max-width: 750px) {
    .newsletter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.newsletterwelcome {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .newsletterwelcome {
        width: 100%;
    }
}

.keepintouch {
    font-family: 'Sedgwick Ave', cursive;
    color: hsl(0, 1%, 21%);
    font-weight: 800;
    font-size: 65px;
    padding-top: 20px;
    transform: rotate(-05deg);
    margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
    .keepintouch {
        text-align: center;
    }
}

.touchsubtext {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    color: hsl(0, 1%, 44%);
    font-size: 17px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

@media screen and (max-width: 750px) {
    .touchsubtext {
        font-size: 15px;
    }
}

.signupform {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    justify-content: center;
    background-color: #F2B6A0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
    .signupform {
        width: 95%;
        margin-left: 0px;
        margin-top: 15px;
        margin-right: 0px;
        margin-bottom: 35px;
    }
}

.signupformheader {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: hsl(0, 1%, 21%);
    letter-spacing: 2px;
    margin-top: 0px;
}

input {
    width: 200px;
    height: 50px;
    /* border-color: hsl(0, 1%, 44%); */

    /* border-radius: 8px; */
    border-color: hsl(0, 0%, 86%);
    border-width: 1px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(0, 1%, 44%);
    padding-left: 10px;
    cursor:text;
    /* padding-bottom: ; */
}

.inputfield {
    padding-bottom: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signupbutton {
    background-color: #000000;
    color: #ffffff;
    width: 150px;
    /* height: 50px; */
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 4px;
    text-align: center;
    /* margin-bottom: 30px; */
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.signupbutton:active {
    background-color: white;
    color: black;
}

.abovehr {
    display: flex;
    flex-direction: row;
    background-color: #ECCDB4;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    /* height: 500px; */
    padding-bottom: 30px;
}

@media screen and (max-width: 750px) {
    .abovehr {
        flex-direction: column;
    }
}


.footerlink {
    width: 50%;
    padding-top: 60px;
    /* justify-content: left; */
}

.footerlinkItem {
    width: 50%;
    padding-bottom: 5px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(0, 1%, 44%);
}

.itemfooterlink {
    color: hsl(0, 1%, 44%);
    text-decoration:underline;
    text-underline-offset: 4px;
    letter-spacing: 2px;
}

.footersocial {
    width: 50%;
    padding-top: 90px;
    padding-right: 150px;
    text-align: right;
    
}

@media screen and (max-width: 750px) {
    .footersocial {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
}


.bi {
    font-size: 50px;
    padding-right: 35px;
    color: hsl(0, 1%, 21%);
    /* text-align: center; */
    /* padding-bottom: 45px; */
}

.hrline {
    width: 70%;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid hsl(0, 1%, 44%);
    /* padding-bottom: 30px; */
    /* flex-grow: 1;
    margin: 2rem 0;
    padding-left: 35px; */
}

.belowhr {
    display: flex;
    flex-direction: column;
    background-color: #ECCDB4;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    padding-bottom: 30px;
}

.copyright {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15;
    color: hsl(0, 1%, 44%);
}

#firstnamevalidationMessage {
    color: red;
    display: none;
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
    font-style: italic;
    padding-top: 5px;
  }

#emailvalidationMessage {
    color: red;
    display: none;
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
    font-style: italic;
    padding-top: 5px;
  }