<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - JoyfullyHadiza</title>
    <link rel="stylesheet" href="static/css/aboutstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Satisfy&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    
</head>
<body class="background">

    <nav class="navbar">
        <div class="navItem">
            <a href="{{url_for ('home') }}" class="navlink">HOME</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('about') }}" class="navlink">ABOUT</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('shop') }}" class="navlink">SHOP</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('contact') }}" class="navlink contact">CONTACT</a>
        </div>
    </nav>
    
    <div class="about">

        <div class="aboutpicture">
            <img src="static/img/IMG-9766.png" class="picture" alt="">
        </div>

        <div class="textbox">
            <p class="aboutheader">About</p>
            <p class="abouttext">Welcome to JoyfullyHadiza, your personal development hub where inspiration meets transformation. Led by Hadiza Joy Umar, a planning optimist and passionate advocate for personal growth, this platform is dedicated to helping you unlock your full potential and create a life aligned with your deepest aspirations. Through our engaging YouTube channel, we offer a wealth of insightful videos on personal development, providing practical tips, thought-provoking discussions, and inspiring stories to guide you on your journey. <br> <br> Whether you're seeking guidance in self-improvement, intentional living, mental health, self-discovery, or productivity, you'll find a treasure trove of valuable resources here. Join our supportive community, embrace the power of personal growth, and embark on a transformative adventure towards becoming the best version of yourself.</p>

            <div class="socialicons">
                <a href="https://youtube.com/@JoyfullyHadiza"><i class="welcomeicons bi-youtube"></i></a>
                <a href="https://www.facebook.com/joyfullyhadiza"><i class="welcomeicons bi-facebook"></i></a>
                <a href="https://instagram.com/joyfully_hadiza_"><i class="welcomeicons bi-instagram"></i></a>
            </div>
        </div>
    </div>

    
    <div class="abovehr">
        <div class="footerlink">
            <div class="footerlinkItem">
                <a href="{{ url_for ('home') }}" class="itemfooterlink">HOME</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('about') }}" class="itemfooterlink">ABOUT</a>
            </div>
            <div class="footerlinkItem">
                <a href="#" class="itemfooterlink">SHOP</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('contact') }}" class="itemfooterlink">CONTACT</a>
            </div>
        </div>

        <div class="footersocial">
            <a href="https://youtube.com/@JoyfullyHadiza"><i class="bi bi-youtube"></i></a>
            <a href="https://www.facebook.com/joyfullyhadiza"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/joyfully_hadiza_"><i class="bi bi-instagram"></i></a>
        </div>
    </div>

    <div class="belowhr">
        <div class="hrline"></div>

        <p class="copyright">© 2023 Joyfully Hadiza</p>
    </div>
        
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>