<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyfully Hadiza</title>
    <link rel="stylesheet" href="static/css/shop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Satisfy&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    
</head>
<body class="background">

    <nav class="navbar">
        <div class="navItem">
            <a href="{{url_for ('home') }}" class="navlink">HOME</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('about') }}" class="navlink">ABOUT</a>
        </div>
        <div class="navItem">
            <a href="#" class="navlink">SHOP</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('contact') }}" class="navlink contact">CONTACT</a>
        </div>
    </nav>

    <div class="masthead background-tint">
        <p class="mastheadtext">Shop <br> Joyfully Hadiza!
    </div>

    <div class="welcome">
        <p class="welcometext">Joyfully Hadiza</p>
        <p class="welcomesubtext">Welcome to my personal development hub, a space where self-discovery intertwines with boundless creativity. Immerse yourself in a world of inspiration as you explore my collection designed to unlock your true potential.</p>
        <p class="welcomesubsubtext">Feel free to sign up for my newsletter to receive exclusive updates, valuable insights, and additional resources for your personal development journey. Don't forget to explore my blog and shop for even more inspiration, helpful articles, and curated products to support your growth.</p>
        
        <div class="socialicons">
            <a href="https://youtube.com/@JoyfullyHadiza"><i class="welcomeicons bi-youtube"></i></a>
            <a href="https://www.facebook.com/joyfullyhadiza"><i class="welcomeicons bi-facebook"></i></a>
            <a href="https://instagram.com/joyfully_hadiza_"><i class="welcomeicons bi-instagram"></i></a>
        </div>

    </div>


    <div class="latestvideo">
        <p class="newestVideo">supercharge your year <br> with this video</p>
        
        <button class="watchmore">
            <a href="https://youtube.com/@JoyfullyHadiza" class="watchmorelink">DISCOVER MY YOUTUBE CHANNEL!</a>
        </button>

        <iframe src="https://www.youtube.com/embed/9IMfv02HUKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="youtubevideo"></iframe>
    </div>

    <div class="shop">
        <p class="shoptext">Shop Joyfully Hadiza!</p>
        <p class="shopsubtext"> Uncover digital wonders with my journaling prompts and year planner. Let's nurture dreams and align our lives together. Take the first step towards self-discovery by exploring my shop. Stay tuned for exciting future products!</p>
        
        <button class="shopnow">
            SHOP NOW!
        </button>
    </div>
    
    <div class="newsletter">
        <div class="newsletterwelcome">
            <p class="keepintouch">Stay connected!</p>
            <p class="touchsubtext">Join my newsletter for in-depth  glimpses into my personal journey, unveiled secrets, stories and strategies to help you become the best “You” as well as valuable tips and tricks to unlock your full potential. It's time to become the best version of yourself.</p>
        </div>

        <div class="signupform">
            <p class="signupformheader">Newsletter Signup!</p>
            <form action="{{ url_for('form') }}" method="post">
                <div class="inputfield">
                    <input type="text" placeholder="First Name" class="formfield" name="firstname">
                </div>
                <div class="inputfield">
                    <input type="text" placeholder="Last Name" class="formfield" name="lastname">
                </div>
                <div class="inputfield">
                    <input type="text" placeholder="Email Address" class="formfield" name="email">
                </div>

                <div class="signup">
                    <input type="submit" value="SIGN UP" class="signupbutton">
                </div>
            </form>

            

        </div>

    </div>

    
    <div class="abovehr">
        <div class="footerlink">
            <div class="footerlinkItem">
                <a href="{{ url_for ('home') }}" class="itemfooterlink">HOME</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('about') }}" class="itemfooterlink">ABOUT</a>
            </div>
            <div class="footerlinkItem">
                <a href="#" class="itemfooterlink">SHOP</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('contact') }}" class="itemfooterlink">CONTACT</a>
            </div>
        </div>

        <div class="footersocial">
            <a href="https://youtube.com/@JoyfullyHadiza"><i class="bi bi-youtube"></i></a>
            <a href="https://www.facebook.com/joyfullyhadiza"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/joyfully_hadiza_"><i class="bi bi-instagram"></i></a>
        </div>
    </div>

    <div class="belowhr">
        <div class="hrline"></div>

        <p class="copyright">© 2023 Joyfully Hadiza</p>
    </div>
        
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>