<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Joyfully Hadiza</title>
    <link rel="icon" type="image/png" href="static/img/apple-touch-icon.png">
	<meta name="description" content="Uncover transformative resources that will serve as guiding beacons towards personal growth and empowerment.">
	<meta name="keywords" content="Personal Development| Intentional living| Goal-Setting| Journalling">
    <meta name="author" content="Hadiza Umar">
    <link rel="stylesheet" href="static/css/shop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Satisfy&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    
</head>
<body class="background">

    <nav class="navbar">
        <div class="navItem">
            <a href="{{url_for ('home') }}" class="navlink">HOME</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('about') }}" class="navlink">ABOUT</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('shop') }}" class="navlink">SHOP</a>
        </div>
        <div class="navItem">
            <a href="{{url_for ('contact') }}" class="navlink contact">CONTACT</a>
        </div>
    </nav>

    <div class="masthead background-tint">
        <p class="mastheadtext">Shop <br> Joyfully Hadiza!
    </div>

    <div class="welcome">
        <p class="welcometext">Welcome!</p>
        <p class="welcomesubtext">At shop Joyfully Hadiza, uncover transformative resources that will serve as guiding beacons, illuminating your path towards personal growth and empowerment.</p>
        <!-- <p class="welcomesubsubtext">Feel free to sign up for my newsletter to receive exclusive updates, valuable insights, and additional resources for your personal development journey. Don't forget to explore my blog and shop for even more inspiration, helpful articles, and curated products to support your growth.</p> -->
        
        <!-- <div class="socialicons">
            <a href="https://youtube.com/@JoyfullyHadiza"><i class="welcomeicons bi-youtube"></i></a>
            <a href="https://www.facebook.com/joyfullyhadiza"><i class="welcomeicons bi-facebook"></i></a>
            <a href="https://instagram.com/joyfully_hadiza_"><i class="welcomeicons bi-instagram"></i></a>
        </div> -->

    </div>


    <!-- <div class="latestvideo">
        <p class="newestVideo">supercharge your year <br> with this video</p>
        
        <button class="watchmore">
            <a href="https://youtube.com/@JoyfullyHadiza" class="watchmorelink">DISCOVER MY YOUTUBE CHANNEL!</a>
        </button>

        <iframe src="https://www.youtube.com/embed/9IMfv02HUKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="youtubevideo"></iframe>
    </div>

    <div class="shop">
        <p class="shoptext">Shop Joyfully Hadiza!</p>
        <p class="shopsubtext"> Uncover digital wonders with my journaling prompts and year planner. Let's nurture dreams and align our lives together. Take the first step towards self-discovery by exploring my shop. Stay tuned for exciting future products!</p>
        
        <button class="shopnow">
            SHOP NOW!
        </button>
    </div> -->

    
    <div class="newsletter">
        
        <div class="aboutpicture">
            <img src="static/img/Hadiza Double Book Cover.png" class="picture" alt="">
        </div>

        <div class="newsletterwelcome">
            <p class="keepintouch">Let's Plan 2023 Together</p>
            <p class="touchsubtext">Inside this ebook, you'll find a collection of thought-provoking questions designed to help you reflect on your past, assess your present, and plan for the future and set goals. <br><br>

                But it's not just about setting goals. Let’s plan 2023 together also includes actionable advice and practical tips to help you stay motivated and on track as you work towards a better future. With this ebook by your side, you'll have the tools and insights you need to make the most of the new year and achieve the success you deserve. <br> <br>
                Don't let another year pass you by without making progress towards your goals. Take control of your life and set yourself up for a great 2023 with <strong>Let’s plan 2023 together.</strong></p> 
            <div class="signup">
                <a href="https://paystack.com/buy/lets-plan-2023-ootvha"><input type="submit" value="ORDER NOW" class="ordernow"></a>
                <input type="submit" value="READ REVIEWS" class="plan2023readreviews">
            </div>
            <div class="plan2023Reviews" id="plan2023Reviews"></div>
        </div>

        

    </div>

    <div class="newsletter">
        
        <div class="aboutpicture">
            <img src="static/img/journalling prompts.png" class="picture" alt="">
        </div>

        <div class="newsletterwelcome">
            <p class="keepintouch">Journalling Prompts</p>
            <p class="touchsubtext">Ready to unlock your potential, cultivate a peaceful mind, and live with purpose? Our comprehensive journaling prompts are your gateway to self-development, mental well-being, enhanced productivity, and intentional living. <br><br>

                Embrace this transformative tool and reconnect with your authentic self, one prompt at a time.</p>
            <div class="signup">
                <a href="{{ url_for ('journaling_prompts') }}"><input type="submit" value="GET FOR FREE!" class="ordernow"></a>
                <input type="submit" value="READ REVIEWS" class="journallingpromptsreadreviews">
            </div>
            <div class="journallingReviews" id="journallingReviews"></div>
        </div>

        

    </div>

    
    <div class="abovehr">
        <div class="footerlink">
            <div class="footerlinkItem">
                <a href="{{ url_for ('home') }}" class="itemfooterlink">HOME</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('about') }}" class="itemfooterlink">ABOUT</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('shop') }}" class="itemfooterlink">SHOP</a>
            </div>
            <div class="footerlinkItem">
                <a href="{{ url_for ('contact') }}" class="itemfooterlink">CONTACT</a>
            </div>
        </div>

        <div class="footersocial">
            <a href="https://youtube.com/@JoyfullyHadiza"><i class="bi bi-youtube"></i></a>
            <a href="https://www.facebook.com/joyfullyhadiza"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/joyfully_hadiza_"><i class="bi bi-instagram"></i></a>
        </div>
    </div>

    <div class="belowhr">
        <div class="hrline"></div>

        <p class="copyright">© 2023 Joyfully Hadiza</p>
    </div>
        
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>